<a href="https://colab.research.google.com/github/ksheng-/nyc-housing/blob/master/colab/main.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Imports

In [0]:
import requests
import psycopg2
import pprint
import altair as alt
import pandas as pd
import numpy as np

# Retrieve and clean data

In [0]:
gross_income = pd.read_csv('http://taxbills.nyc/gross_income.csv', dtype={'bbl': str})
print(gross_income)

In [0]:
# Manhattan only
gross_income_ = gross_income[gross_income['bbl'].str[0] == '1']
gross_income_ = gross_income_
print(gross_income_)

In [0]:
gross_income = gross_income.fillna(np.nan)
gross_income['income07'] = gross_income['income07']/gross_income['unitstotal']
gross_income['income09'] = gross_income['income09']/gross_income['unitstotal']
gross_income['income12'] = gross_income['income12']/gross_income['unitstotal']
gross_income['income14'] = gross_income['income14']/gross_income['unitstotal']
gross_income2 = gross_income.sample(5000)
gross_income3 = data2

In [0]:
gross_income3['income07'] = (gross_income2['income07']-np.nanmean(gross_income2['income07']))/np.nanstd(gross_income2['income07'])
gross_income3['income07'] = gross_income3['income07'].clip(-2,2)
gross_income3['income09'] = (gross_income2['income09']-np.nanmean(gross_income2['income09']))/np.nanstd(gross_income2['income09'])
gross_income3['income09'] = gross_income3['income09'].clip(-2,2)
gross_income3['income14'] = (gross_income2['income14']-np.nanmean(gross_income2['income14']))/np.nanstd(gross_income2['income14'])
gross_income3['income14'] = gross_income3['income14'].clip(-2,2)

In [0]:
alt.Chart(gross_income2).mark_circle(size=8).encode(
    longitude='lon:Q',
    latitude='lat:Q',
    color='income07:Q'
).properties(
    width=200,
    height=500
)

In [0]:
alt.Chart(gross_income3).mark_circle(size=8).encode(
    longitude='lon:Q',
    latitude='lat:Q',
    color='income09:Q'
).properties(
    width=200,
    height=500
)

In [0]:
alt.Chart(gross_income3).mark_circle(size=8).encode(
    longitude='lon:Q',
    latitude='lat:Q',
    color='income14:Q'
).properties(
    width=200,
    height=500
)